test_data/*
*.csv
__pycache__/
*.py[cod]
*$py.class
*.sqlite
*.png
*.code-workspace
restats
.vscode/
.idea/
.mypy_cache
notes/*
old_files/
backupcopy.py
poetiergen.txt
testoutput.txt
test*.filter
testing.py
json_test.json
